.AccesBar{
    display: flex;
    position: absolute;
    width: 200px;
    height: 50px;
    background-color: rgba(240, 248, 255, 0);
    backdrop-filter: blur(0px);
    border-radius: 10px;
    top: 1%;
    left:85%;
}
.PlaySysButton{
    width: 40px;
    display: flex;
    position: absolute;
    top: 10%;
    left: 10px;
    background-color:white;
}
#PlMB{
    display: flex;
}
#PaMB{
    display: none;
}
.wifi{
    transform: translate3d(40px, -10px, 0px);
}