.écran1{
    margin: 0;
    padding: 0%;
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: 500ms;
}
.écran2{

    margin: 0;
    padding: 0%;
    display: flex;
    position: sticky;
    height: 100%;
    width: 100%;
    position: absolute;
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0);
    top:10000px;
    opacity: 0%;
    transition: 500ms;
}
.h{
    color: white;
    font-size: 100px;
    font-family:Arial, Helvetica, sans-serif;
}
.d{
    color: white;
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
}
.hPos{
    display: flex;
    position: absolute;
    left:40%;
    top: 15%;
}
.dPos{
    display: flex;
    position: absolute;
    left:43%;
    top: 29%;
}
.écran2revel{

    margin: 0;
    padding: 0%;
    display: flex;
    position: sticky;
    height: 100%;
    width: 100%;
    position: absolute;
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0);
    top:0px;
    opacity: 100%;
    transition: 500ms;
}
.écran1revel{
    margin: 0;
    padding: 0%;
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: 500ms;
}
.profilIcon{
    background-color: rgba(240, 248, 255, 0.5);
    backdrop-filter: blur(50px);
    border-radius: 50%;
    width: 220px;
}
.ProfilPos{
    display: flex;
    position: absolute;
    left:40%;
    top: 20%;
}
.NameUser{
    display: flex;
    position: absolute;
    left:40%;
    top: 50%;
    color: white;
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
}
.ButtonCo{
    display: flex;
    position: absolute;
    left:37%;
    top: 60%;
}
button.BouttonCo{
    cursor: pointer;
    background-color: rgba(0, 132, 255, 0.425);
    backdrop-filter: blur(20px);
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 20px;
    transition: 500ms;
}
button.BouttonCo:hover{
    cursor: pointer;
    background-color: rgba(0, 132, 255, 0.829);
    backdrop-filter: blur(20px);
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 20px;
    transition: 500ms;
}
button.BouttonCo:focus{
    cursor: pointer;
    background-color: rgba(0, 89, 172, 0.829);
    backdrop-filter: blur(20px);
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 20px;
    transition: 500ms;
}
.lock{
    overflow: hidden;
}
.PleaseLock{
    top: 0px;
}