.back0{
    background-color: aliceblue;
}
.back1{
    background-image: url("background/1209999.png");
}
.back2{
    background-image: url("background/1276648.png");
}
.back3{
    background-image: url("background/1276649.png");
}
.back4{
    background-image: url("background/img0_1920x1200.jpg");
}
.back5{
    background-image: url("background/img100.jpg");
}
.back6{
    background-image: url("background/img101.jpg");
}
.back7{
    background-image: url("background/img102.jpg");
}
.back8{
    background-image: url("background/img103.jpg");
}
.back9{
    background-image: url("background/img104.jpg");
}
.back10{
    background-image: url("background/img105.jpg");
}
.back11{
    background-image: url("background/img14.jpg");
}
.back12{
    background-image: url("background/img19_1920x1200.jpg");
}
.back13{
    background-image: url("background/img20.jpg");
}